@(livros : List[Livro])

@layout{
    <link href="@routes.Assets.versioned("stylesheets/menu-doele.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.versioned("stylesheets/listarLivros.css")" rel="stylesheet" media="screen">
    <title>Doelê | Livros </title>
}{
    <header class="header">
            <nav class="nav navbar navbar-expand-lg navbar-light fixed-top">
                <!-- brand -->
                <a class="navbar-brand" href="/">
                    <img src="@routes.Assets.versioned("images/logo-doele-livro-gradiente.png")" width="40" height="40" class="d-inline-block align-top" alt="Doelê">
                </a>
    
                <!-- btn colapsado -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- busca -->
                    <div class="input-group barra-busca">
                        <input type="text" class="form-control" placeholder="Buscar">
                        <div class="input-group-append">
                            <button class="btn btn-busca btn-outline-secondary" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>                       
                    </div>
                    
                    <!-- itens menu -->
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/">INÍCIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ANUNCIOS</a>
                        </li>
                        <li class="nav-item active ">
                            <a class="nav-link" href="/livros">LIVROS<span class="sr-only">(current)</span> </a>
                        </li>
                    </ul> 
    
                    <!-- btn login e doar -->
                    <div class="nav-direita">
                        @if(session().get("email") == null){
                        <div class="login-user-area deslogado">
                            <a href="/login" class="btn-login">
                                <img class="img-user" src="@routes.Assets.versioned("images/user01.png")" alt="" width="18" >
                                <span>Login</span>
                            </a>   
                        </div>
                        }else{
                            <div class="login-user-area logado">
                                    <a href="#" class="btn-login dropdown-toggle" role="button" id="dropdownUsuario"  data-toggle="dropdown">
                                        <img class="img-user" src="@routes.Assets.versioned("images/user02.png")" alt="" width="18" >
                                        <span>Perfil</span>
                                    </a>
                                    <div class="dropdown-menu dropdownUsuario" aria-labelledby="dropdownUsuario">
                                        <a class="dropdown-item" href="/perfil">Perfil</a>
                                        <a class="dropdown-item" href="#">Notificações</a>
                                        <a class="dropdown-item" href="/logout">Sair</a>
                                    </div>    
                                </div>
                                
                        }
                        
                        <div class="quero-doar-area">
                                <a href="/livros/cadastro-livro">
                                    <button type="button" class="btn-doar btn btn-primary">Quero Doar</button>   
                                </a>
                        </div>
                    </div>
                </div>
            </nav>
    </header>
    
    

    <div class="container">
        <!-- <div class="bread-crumb">
            <a href="#">INICIO</a>
            <i class="fas fa-chevron-right"></i>
            <a href="#">LIVROS DISPONIVEIS</a>
        </div> -->

        <h1>Livros Disponíveis</h1>

        <div class="container-livros">
            <ol class="lista-livros">
                @for(livro <- livros.reverse){
                <a href="livros/@livro.getIsbn()">                    
                    <li class="livro">
                        <div class="card-livro">
                            <div class="thumb-livro">
                                <div class="cover-img">
                                    <img src="@livro.getThumbCover()" alt="">
                                </div>
                            </div>
                            <div class="info-livro">
                                <span class="titulo">
                                    @livro.getTitulo().slice(0, 21) 
                                    @if(livro.getTitulo().length > 20){
                                        ...
                                    }
                                </span><br>
                                <span class="autor">@livro.getAutor()</span><br>
                                <span class="ano">@livro.getAno()</span>
                            </div>
                        </div>
                    </li>
                </a>
                }
                                
            </ol>
        </div>
    </div>

    <footer class="text-muted navbar-fixed-bottom">
        <div class="footer">
            <p class="float-right">
                <a href="#">Voltar ao topo</a>
            </p>
            
            <p>2019 &copy; Doelê</p>
        </div>
    </footer>
}