@layout{
    <link href="@routes.Assets.versioned("stylesheets/login.css")"
rel="stylesheet" media="screen">
    <title>Doelê | Login</title>

}{
    <div class="tela-completa">
        <nav class="navbar navbar-light">
            <a class="icone-nav" href="/">
                <i class="fas fa-arrow-left" style="margin-left: 3vw important;"></i>
            </a>
            <a class="navbar-brand" href="/">
                <img src="@routes.Assets.versioned("images/logo-doele-livro-gradiente.png")" width="50" class="d-inline-block align-top" alt="">
            </a>
        </nav>

        <hr>

        <div class="conteudo ">
            <div class="caixa ">
                @if(flash.contains("registrado")) {
                <div class="alert alert-success" role="alert">
                    <strong>Registrado! </strong>Oba! Você foi registrado!
                </div>
                }
                @if(flash.contains("logout")) {
                <div class="alert alert-warning" role="alert">
                    <strong>Saiu! </strong>Você foi deslogado do Doelê!
                </div>
                }
                <form action="/login" method="POST">
                    <b><legend class="titulo-box">Entrar</legend></b>
                    <label>Email:</label><br>
                    <input type="email" name="email" class="form-control" id="exampleInput" aria-describedby="emailHelp" placeholder="Enter email">
                    <!-- <small id="emailHelp " class="form-text text-muted ">tes=xto que fica em baixo do campo de entrada.</small> -->
                    <br>
                    <label>Senha:</label><br>
                    <input type="password" name="senha" class="form-control" id="exampleInput" placeholder="Password">
                    <br>
                    <div class="botao">
                        <input class="botao-enviar" type="submit" value="Enviar">
                    </div>
                    <p>Não tem uma conta? <a href="/registro"> Registre-se!</a></p>

                </form>
            </div>
        </div>
    </div>
}

